{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block content %}

<div class="main-content">
    <!-- Header (v11) -->
    <section class="" data-offset-top="#header-main">
      <div class="section-inner bg-section-secondary"></div>
      <!-- Hero container -->
      <div class="container pb-5 d-flex align-items-center position-relative zindex-100">
        <div class="col">
          <div class="row row-grid align-items-center">
            <div class="col-lg-6 text-center text-lg-left">
              <div>
                  <div class="pb-2">
                    <span class="badge badge-soft-danger badge-pill pb">40%+ savings</span>
                  </div>

                <h1 class="lh-140 mb-4">
                  🇺🇸 Prescription Drugs In Mexico 🇲🇽
                </h1>
                <p class="lead text-muted lh-180">Discover steep discounts on your life saving medication in Mexico.</p>
              </div>
            </div>
            <div class="col-lg-5 ml-auto">
              <img alt="Image placeholder" src="https://res.cloudinary.com/dmuligbfy/image/upload/v1607035497/healthpat/placeholder.png" class="img-fluid rounded hover-scale-110">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Header (v9) -->
{#    <section class="slice slice-sm">#}
{#        <!-- SVG background -->#}
{#        <div class="bg-absolute-cover bg-size--cover align-items-center">#}
{#            <video autoplay muted loop id="heroVid" class="slice-video">#}
{#                    <source src="{% static 'video/yoga.mp4' %}" type="video/mp4">#}
{#            </video>#}
{#        </div>#}
{#        <div class="container position-relative zindex-100">#}
{#            <div class="row row-grid justify-content-around align-items-center">#}
{#                <div class="col-lg-5">#}
{#                    <div class="text-center text-lg-left">#}
{#                        <span class="badge badge-git soft-primary badge-pill">Bfjdsklfsd</span>#}
{#                        <h1 class="text-white mt-4 mb-3">🌍Mfdsjlfdkfds</h1>#}
{#                        <p class="lead lh-180 text-white">Tfjdskfakld</p>#}
{#                        <div class="mt-6">#}
{#                            <a href="#" class="btn btn-white btn-icon rounded-pill hover-translate-y-n3">#}
{#                              <span class="btn-inner--icon"><i class="fas fa-fire"></i></span>#}
{#                              <span class="btn-inner--text">Let's get started</span>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#              <div class="col-lg-5 d-none d-lg-block">#}
{#                <div class="card bg-section-secondary mt-7 mb-0 py-5 px-4 shadow-lg perspective-right hover-scale-110">#}
{#                  <div class="card-body">#}
{#                    <h2 class="heading h2">#}
{#                      <strong>Design</strong> is thinking made visual TEST.#}
{#                    </h2>#}
{#                    <p class="lead lh-180 mt-4">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna. Ut enim ad minim veniam quis nostrud exercitation.</p>#}
{#                    <ul class="list-unstyled mt-4">#}
{#                      <li class="py-2">#}
{#                        <div class="d-flex align-items-center">#}
{#                          <div>#}
{#                            <div class="icon icon-shape icon-primary icon-sm rounded-circle mr-3">#}
{#                              <i class="fas fa-store-alt"></i>#}
{#                            </div>#}
{#                          </div>#}
{#                          <div>#}
{#                            <span class="h6 mb-0">Perfect for modern startups</span>#}
{#                          </div>#}
{#                        </div>#}
{#                      </li>#}
{#                      <li class="py-2">#}
{#                        <div class="d-flex align-items-center">#}
{#                          <div>#}
{#                            <div class="icon icon-shape icon-warning icon-sm rounded-circle mr-3">#}
{#                              <i class="fas fa-palette"></i>#}
{#                            </div>#}
{#                          </div>#}
{#                          <div>#}
{#                            <span class="h6 mb-0">Built with ease-of-use at its core</span>#}
{#                          </div>#}
{#                        </div>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </section>#}
    <!-- List of Locations -->
    <section id="products-section" class="slice bg-section-secondary">
      <div class="container">
        <!-- Change avatar -->
        <!-- ProductsList Overview -->
        <div id="products-list">

        </div>
      </div>
    </section>
</div>

{% block js %}
    {% render_bundle 'products_list' %}
{% endblock %}
{% endblock content %}


