{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load i18n crispy_forms_tags static %}
{% crispy form form.helper %}

{% block content %}

<div class="main-content">
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center">
            {{ message }} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}
    <section class="slice slice-lg" id="sct_contact_form">
      <div class="container">
        <div class="mb-5 text-center">
            <span class="badge badge-soft-info badge-pill badge-lg">
            Contact
            </span>
            <h3 class=" mt-4">Request a new drug</h3>
            <span>Fill out this form if we don't have your medication in our database.<br>
                Add your email and we'll send you an update when it's available.</span>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <form role="form" method="POST">
                {% csrf_token %}
                {% crispy form %}

                <!-- Button -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-dark rounded-pill">Submit your request</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>
</div>
{% block js %}
{% endblock %}
{% endblock content %}


