{% load static i18n compress %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ APP_NAME }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}

      <!-- Font Awesome -->
      {% if request.user.is_authenticated %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
      {% endif %}
      <!-- Libs CSS -->
      <link rel="stylesheet" href="{% static 'libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/purpose.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    {% endblock %}

  </head>

  <body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <div id="feedback-button"></div>


{% block javascript %}
    {% render_bundle 'feedback_button' %}
    {% render_bundle 'chunk-vendors' %}
{% endblock javascript %}
  </body>
