{% include static %}
<!-- Main navbar -->
<nav class="navbar navbar-expand navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
    <div class="container">
        <a class="navbar-brand mr-lg-5" href="/">
            <img class="d-none d-md-block" alt="{{ APP_NAME }}" src="" style="height: 25px;"> <!-- Hide full logo on screens smaller than md -->
            <img class="d-md-none" alt="{{ APP_NAME }}" src="" style="height: 35px;"> <!-- Show icon on screens smaller than md -->
        </a>


        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav">
                <li class="d-none d-sm-block nav-item active">
                    <a class="nav-link" href="/locations">Locations</a>
                </li>
                {% if not loggedIn %}
                <li class="d-sm-none dropdown nav-item">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="nav-link">Learn More</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-arrow my-1">
                      <div class="list-group">
                        <a class="dropdown-item" href="/locations">fdsafds</a>
                        <a class="dropdown-item" href="/account/spots">adfsas</a>
                        <a class="dropdown-item" href="/about">hasjkgksagf8ds</a>
                      </div>
                    </div>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="">fsdjfjds</a>
                  </li>



            </ul>

        </div>
    </div>
</nav>
