{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}
{% crispy form form.helper %}
{% block content %}

<div class="main-content">
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center">
            {{ message }} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}
    <section class="slice slice-lg min-vh-100 d-flex align-items-center bg-section-secondary">
      <!-- SVG background -->
      <div class="bg-absolute-cover bg-size--contain d-none d-lg-block">
        <figure class="w-100">
          <img alt="Background" src="{% static 'img/svg/backgrounds/bg-3.svg' %}" class="svg-inject">
        </figure>
      </div>
      <div class="container py-5 px-md-0 d-flex align-items-center">
        <div class="w-100">
          <div class="row row-grid justify-content-center justify-content-lg-between align-items-center">
            <div class="col-sm-8 col-lg-6 col-xl-5 order-lg-2">
              <div class="card shadow zindex-100 mb-0">
                <div class="card-body px-md-5 py-5">
                  <div class="mb-5">
                    <h6 class="h3">Login</h6>
                    <p class="text-muted mb-0">Sign in to your account to continue.</p>
                  </div>
                  <span class="clearfix"></span>
                <!-- Form -->
                  <form role="form" method="POST">
                    {% csrf_token %}
                    {% crispy form %}

                    <!-- Button -->
                    <div class="mt-4">
                        <button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                            <span class="btn-inner--text">Sign in</span>
                            <span class="btn-inner--icon"><i class="fa fa-long-arrow-right"></i></span>
                        </button>
                    </div>
                  </form>
                </div>
                <div class="card-footer px-md-5"><small>Not registered?</small>
                  <a href="{% url 'users:register' %}" class="small font-weight-bold">Create account</a></div>
              </div>
            </div>
            <div class="col-lg-5 order-lg-1 d-none d-lg-block">
              <blockquote>
                <h3 class="h2 mb-4">Django forms kinda blow.</h3>
                <footer>— <cite class="text-lg">Me</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock content %}
