{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}
{% crispy form form.helper %}
{% block content %}

<div class="main-content">
    <div class="container d-flex align-items-center" style="height: 70vh">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div>
                        <div class="mb-3 text-center">
                            <span><i class="fa fa-check-circle fa-4x"></i></span>

                        </div>
                        <div class="mb-5 text-center">
                            <h6 class="h3">Check your email</h6>
                            <p class="text-muted mb-0">If we have an account for you, you'll have an email with a link to reset your password.</p>
                        </div>
                        <span class="clearfix"></span>
                        <div class="mt-4">
                          <a href="{% url "retail:home" %}"><button type="button" class="btn btn-block btn-primary">Go Home</button></a>
                        </div>
                      <div class="mt-4 text-center"><small>Not registered?</small>
                        <a href="{% url 'users:register' %}" class="small font-weight-bold">Create account</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
