{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}
{% crispy form form.helper %}
{% block content %}

<div class="main-content">
    <section class="slice slice-lg min-vh-100 d-flex align-items-center bg-section-secondary">
      <div class="container py-5 px-md-0 d-flex align-items-center">
        <div class="w-100">
          <div class="row row-grid justify-content-center justify-content-lg-between align-items-center">
            <div class="col-sm-8 col-lg-6 col-xl-5 order-lg-2">
              <div class="card shadow zindex-100 mb-0">
                <div class="card-body px-md-5 py-5">
                  <div class="mb-5">
                    <h6 class="h3">Password reset</h6>
                    <p class="text-muted mb-0">Enter your email below to proceed.</p>
                  </div>
                  <span class="clearfix"></span>
                  <form role="form" method="post">
                      {% csrf_token %}
                      {% crispy form %}
                    <div class="mt-4"><button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                        <span class="btn-inner--text">Reset password</span>
                        <span class="btn-inner--icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                      </button></div>
                  </form>
                </div>
                <div class="card-footer px-md-5"><small>Not registered?</small>
                  <a href="{% url 'users:register' %}" class="small font-weight-bold">Create account</a></div>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1 d-none d-lg-block">
              <blockquote>
                <h3 class="h2 mb-4">Keep your face always toward the sunshine - and shadows will fall behind you.</h3>
                <footer>— <cite class="text-lg">John Sulivan</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock content %}
