{% extends "base.html" %}

{% load i18n crispy_forms_tags static %}
{% crispy form form.helper %}

{% block content %}

<div class="main-content">
    <div class="container d-flex align-items-center" style="height: 80vh">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div>
                        <div class="mb-3 text-center">
                            <span><i class="fa fa-check-circle fa-4x"></i></span>

                        </div>
                        <div class="mb-5 text-center">
                            <h6 class="h3">Enter your new password.</h6>
                        </div>
                        <span class="clearfix"></span>
                        <form role="form" method="post">
                            {% csrf_token %}
                            {% crispy form %}
                            <div class="mt-4">
                                <button type="submit" class="btn btn-block btn-primary">Reset password</button>
                            </div>
                        </form>
                      <div class="mt-4 text-center"><small>Not registered?</small>
                        <a href="{% url 'users:register' %}" class="small font-weight-bold">Create account</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}