<template>
  <div>
    <!--    <div class="actions-toolbar py-2 mb-4">-->
    <!--      <h5 class="mb-1">Filters</h5>-->
    <!--      <p class="text-sm text-muted mb-0">Put filters and search here</p>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--      <div-->
    <!--        v-for="l in locations"-->
    <!--        :key="l.id"-->
    <!--        @click="expandDetails(l.id)"-->
    <!--        class="col-xl-4 col-lg-4 col-md-6 col-sm-6"-->
    <!--        style="cursor: pointer"-->
    <!--      >-->
    <!--        <div class="card card-overlay card-hover-overlay hover-shadow-lg">-->
    <!--          <img-->
    <!--            alt="Image placeholder"-->
    <!--            src="static/img/theme/light/img-1-1000x900.jpg"-->
    <!--            class="card-img"-->
    <!--          />-->
    <!--          <div class="card-img-overlay align-items-center p-0">-->
    <!--            <div class="overlay-text text-sm w-100 p-md-4 p-2">-->
    <!--              <div class="progress-wrapper">-->
    <!--                <span class="progress-label text-white text-sm"-->
    <!--                  >💪 HealthPat Score</span-->
    <!--                >-->
    <!--                <div class="progress" style="height: 0.9rem">-->
    <!--                  <div-->
    <!--                    class="progress-bar bg-warning"-->
    <!--                    role="progressbar"-->
    <!--                    style="width: 65%"-->
    <!--                    aria-valuenow="65"-->
    <!--                    aria-valuemin="0"-->
    <!--                  ></div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              <div class="progress-wrapper d-none d-sm-block">-->
    <!--                <span class="progress-label text-white text-sm"-->
    <!--                  >❤️ Quality of Care</span-->
    <!--                >-->
    <!--                <div class="progress align-items-right" style="height: 0.9rem">-->
    <!--                  <div-->
    <!--                    class="progress-bar bg-danger"-->
    <!--                    role="progressbar"-->
    <!--                    style="width: 25%"-->
    <!--                    aria-valuenow="25"-->
    <!--                    aria-valuemin="0"-->
    <!--                  ></div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              <div class="progress-wrapper d-none d-sm-block">-->
    <!--                <span class="progress-label text-white text-sm">💰️ Cost</span>-->
    <!--                <div class="progress" style="height: 0.9rem">-->
    <!--                  <div-->
    <!--                    class="progress-bar bg-success"-->
    <!--                    role="progressbar"-->
    <!--                    style="width: 80%"-->
    <!--                    aria-valuenow="80"-->
    <!--                    aria-valuemin="0"-->
    <!--                  ></div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              <div class="pt-3">-->
    <!--                <span-->
    <!--                  class="badge badge-soft-danger badge-pill d-lg-none d-block"-->
    <!--                  >Tap for Details</span-->
    <!--                >-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!-- Load more -->
    <!--    <div class="mt-4 text-center">-->
    <!--      <a-->
    <!--        href="#"-->
    <!--        class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3"-->
    <!--        >Load more ...</a-->
    <!--      >-->
    <!--    </div>-->
    <ais-instant-search
      :search-client="searchClient"
      :index-name="algoliaIndexName"
    >
      <div class="left-panel">
        <ais-clear-refinements v-slot="{ canRefine, refine, createURL }">
          <a :href="createURL()" @click.prevent="refine"
            ><button
              type="button"
              :class="
                'btn btn-primary btn-xs rounded-pill ' +
                (canRefine ? '' : 'disabled')
              "
            >
              Clear filters
            </button></a
          >
        </ais-clear-refinements>
        <h2>Tags</h2>
        <ais-refinement-list attribute="tags" />
        <ais-configure :hitsPerPage="48" />
      </div>
      <div class="right-panel">
        <ais-search-box
          autofocus
          placeholder="Search for your prescription..."
          :class-names="{
            'ais-SearchBox': 'pt-3',
            'ais-SearchBox-input': 'form-control',
          }"
        >
        </ais-search-box>
        <ais-stats v-slot="{ nbHits }">
          <span class="ais-Stats-text">Found {{ nbHits }} results</span>
        </ais-stats>
        <ais-hits style="cursor: pointer" v-slot:default="{ items }">
          <div v-if="items.length" class="row">
            <div
              v-for="item in items"
              :key="item.objectID"
              class="col-xl-3 col-lg-4 col-sm-6"
            >
              <div class="card card-product">
                <cld-image
                  :publicId="item.image ? item.image : placeholderImagePublicId"
                  :alt="item.image ? item.name : 'Not found'"
                  class="card-image"
                  responsive
                >
                </cld-image>
                <div class="card-body text-center pt-0">
                  <h6>
                    <a href="#">{{ item.name }}</a>
                  </h6>
                  <p class="text-sm">
                    {{ item.description ? item.description : "" }}
                  </p>
                  <span class="card-price">{{
                    item.price ? "$" + item.price : "Pricing not available"
                  }}</span>
                </div>
                <div
                  class="card-product-actions"
                  style="
                    width: 80px;
                    height: 40px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                  "
                >
                  <button type="button" class="action-item">
                    <i class="fa fa-heart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="container pt-6 position-relative zindex-100">
            <div class="row justify-content-center pb-3">
              <div class="col-lg-7">
                <div class="text-center">
                  <!-- SVG illustration -->
                  <div class="row justify-content-center mb-1">
                    <!--                    <div class="col-md-5">-->
                    <cld-image
                      publicId="healthpat/not_found.png"
                      alt="Not found"
                    >
                      <cld-transformation crop="scale" :height="200" />
                    </cld-image>
                  </div>
                  <!-- Empty cart container -->
                  <h6 class="h4 my-2">No results found.</h6>
                  <p class="px-md-5">
                    Send us a message to request we add this drug to our
                    database.
                  </p>
                  <a
                    href="/request"
                    class="btn btn-sm btn-primary btn-icon rounded-pill mt-5"
                  >
                    <span class="btn-inner--text">Send Request</span>
                    <span class="btn-inner--icon"
                      ><i class="fa fa-paper-plane"></i
                    ></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ais-hits>
        <ais-pagination
          v-slot:default="{
            currentRefinement,
            nbPages,
            pages,
            isFirstPage,
            isLastPage,
            refine,
            createURL,
          }"
        >
          <nav>
            <ul
              v-if="nbPages"
              class="pagination pagination-lg justify-content-center"
            >
              <li :class="isFirstPage ? 'page-item disabled' : 'page-item'">
                <a
                  class="page-link"
                  :href="createURL(0)"
                  @click.prevent="refine(0)"
                >
                  ‹‹
                </a>
              </li>
              <li :class="isFirstPage ? 'page-item disabled' : 'page-item'">
                <a
                  class="page-link"
                  :href="createURL(currentRefinement - 1)"
                  @click.prevent="refine(currentRefinement - 1)"
                >
                  ‹
                </a>
              </li>
              <li
                :class="
                  page === currentRefinement ? 'page-item active' : 'page-item'
                "
                v-for="page in pages"
                :key="page"
              >
                <a
                  class="page-link"
                  :href="createURL(page)"
                  :style="{
                    fontWeight: page === currentRefinement ? 'bold' : '',
                  }"
                  @click.prevent="refine(page)"
                >
                  {{ page + 1 }}
                </a>
              </li>
              <li :class="isLastPage ? 'page-item disabled' : 'page-item'">
                <a
                  class="page-link"
                  :href="createURL(currentRefinement + 1)"
                  @click.prevent="refine(currentRefinement + 1)"
                >
                  ›
                </a>
              </li>
              <li :class="isLastPage ? 'page-item disabled' : 'page-item'">
                <a
                  class="page-link"
                  :href="createURL(nbPages)"
                  @click.prevent="refine(nbPages)"
                >
                  ››
                </a>
              </li>
            </ul>
          </nav>
        </ais-pagination>
      </div>
    </ais-instant-search>
  </div>
</template>

<script>
import algoliasearch from "algoliasearch/lite";
import "instantsearch.css/themes/algolia-min.css";
import "instantsearch.css/themes/reset-min.css";

export default {
  name: "ProductsList",
  data() {
    return {
      locations: [{ id: 1 }, { id: 2 }, { id: 3 }, { id: 4 }, { id: 5 }],
      algoliaIndexName: process.env.VUE_APP_INDEX_NAME,
      searchClient: algoliasearch(
        process.env.VUE_APP_ALGOLIA_APPLICATION_ID,
        process.env.VUE_APP_ALGOLIA_API_KEY
      ),
      placeholder_image:
        "https://res.cloudinary.com/dmuligbfy/image/upload/v1607035497/healthpat/placeholder.png",
      placeholderImagePublicId: "healthpat/placeholder.png",
    };
  },
  methods: {
    expandDetails(id) {
      console.log(id);
    },
  },
  mounted() {},
};
</script>

<style>
/*Required for left/right panel view:*/
.ais-Hits-list {
  margin-top: 0;
  margin-bottom: 1em;
}

.ais-InstantSearch {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1em;
}

.ais-Hits-item img {
  margin-right: 1em;
}
.hit-name {
  margin-bottom: 0.5em;
}
.hit-description {
  color: #888;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
</style>
