{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ APP_NAME }} - Page not found{% endblock %}

{% block content %}
    <section class="slice slice-lg vh-100 bg-gradient-primary overflow-hidden" data-offset-top="#header-main">
        <div class="container h-100 d-flex align-items-center position-relative zindex-100">
          <div class="col">
            <div class="row justify-content-center">
              <div class="col-lg-7 text-center">
                <h6 class="h1 mb-5 font-weight-400 text-white">Page not found</h6>
                <a href="{% url 'retail:home' %}#products-list" class="btn btn-white btn-icon rounded-pill hover-translate-y-n3">
                  <span class="btn-inner--icon"><i class="fas fa-home"></i></span>
                  <span class="btn-inner--text">Start Searching</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute middle right-5 overflow-hidden">
          <figure class="w-75">
            <img alt="Background Image" src="https://res.cloudinary.com/dmuligbfy/image/upload/v1607145671/healthpat/404_background.svg" class="svg-inject opacity-2">
          </figure>
        </div>
    </section>
{% endblock content %}
