{% load static i18n compress %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ APP_NAME }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="https://res.cloudinary.com/dmuligbfy/image/upload/r_50/v1607035173/healthpat/favicon.png">

    {% block css %}

      <!-- Font Awesome -->
{#      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">#}
      <link href="{% static 'libs/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
      <!-- Libs CSS -->
      <link rel="stylesheet" href="{% static 'libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    {% compress css %}
      <link type="text/x-scss" href="{% static 'scss/purpose.scss' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'libs/animate.css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/swiper/dist/css/swiper.min.css' %}">
    {% endcompress %}
    {% endblock %}

  </head>

  <body>

    <!-- HEADER -->
    <header class="header-{% if header_style == 'primary' %}primary{% else %}transparent{% endif %}" id="header-main">
        {% include "header.html" %}
    </header>

    {% block content %}
    {% endblock content %}
    <!-- FEEDBACK BUTTON -->
    <div id="feedback-button"></div>

    <!-- FOOTER -->
    <footer class="footer footer-dark bg-gradient-primary">
        {% include "footer.html" %}
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
        <!-- Bootstrap JS and its dependencies-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

        <!-- Panelbear Analytics -->
        <script async src="https://cdn.panelbear.com/analytics.js?site=9TD30771kzW"></script>
        <script>
            window.panelbear = window.panelbear || function(){ window.panelbearQ = window.panelbearQ || []; panelbearQ.push(arguments); };
            panelbear('config', { site: '9TD30771kzW' });
        </script>

        {% compress js %}
            <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'libs/svg-injector/dist/svg-injector.min.js' %}"></script>
            <script src="{% static 'js/purpose.js' %}"></script>
            <script src="{% static 'js/purpose.core.js' %}"></script>
            <script src="{% static 'libs/swiper/dist/js/swiper.min.js' %}"></script>
        {% endcompress %}


    {% render_bundle 'feedback_button' %}
    {% render_bundle 'chunk-vendors' %}
    {% endblock javascript %}
  </body>
</html>

