{% load static i18n compress %}
<div class="container">
    <div class="row pt-md">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <a href="{% url 'retail:home' %}">
                <img src="https://res.cloudinary.com/dmuligbfy/image/upload/w_500,h_90,c_fill,g_auto/v1607111107/healthpat/healthpat_white.png" alt="Logo" style="height: 30px;">
            </a>
            <p class="text-sm mt-3">Find prescription medication in Mexico.</p>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
            <h6 class="heading mb-3"><b>Account</b></h6>
            <ul class="list-unstyled">
                <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
                </li>
                <li><a href="{% url 'users:register' %}">Sign Up</a>
                </li>
                <li><a href="{% url 'users:login' %}">Sign In</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
            <h6 class="heading mb-3"><b>Company</b></h6>
            <ul class="list-unstyled">
                <li><a href="{% url 'retail:request' %}">Missing Your Prescription?</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
        <div class="col-md-6">
            <div class="copyright text-sm font-weight-bold text-center text-md-left">
                &copy; 2020 <a href="/" class="font-weight-bold">{{ APP_NAME }}</a>. All rights reserved.
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
              <li class="nav-item">
                  <a class="nav-link active" href="https://gitlab.com/crawfordleeds/healthpat" target="_blank">
                      <i class="fab fa-gitlab"></i>
                  </a>
              </li>
            </ul>
        </div>
    </div>
</div>
