{% load static %}
<!-- Main navbar -->
<nav class="navbar navbar-main navbar-sticky navbar-expand-lg navbar-transparent navbar-dark bg-primary" id="navbar-main">
    <div class="container px-lg-0">
        <a class="navbar-brand mr-lg-5" href="{% url 'retail:home' %}">
            <img class="d-none d-md-block" alt="{{ APP_NAME }}" src="https://res.cloudinary.com/dmuligbfy/image/upload/w_500,h_90,c_fill,g_auto/v1607111107/healthpat/healthpat_white.png" style="height: 25px;"> <!-- Hide full logo on screens smaller than md -->
            <img class="d-md-none" alt="{{ APP_NAME }}" src="https://res.cloudinary.com/dmuligbfy/image/upload/w_500,h_90,c_fill,g_auto/v1607111107/healthpat/healthpat_white.png" style="height: 20px;"> <!-- Show icon on screens smaller than md -->
        </a>

        <!-- Navbar collapse trigger -->
        <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-main-collapse">

            <ul class="navbar-nav ml-auto">
                <li class="d-none d-lg-block nav-item {% if request.path == '/request/' %}active{% endif %}">
                  <a class="nav-link mr-3" href="{% url 'retail:request' %}">Missing Your Prescription?</a>
                </li>
                {% if request.user.is_authenticated %}
                    <a href="#" class="d-none d-lg-block nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>
                            <i class="fa fa-user-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-arrow">
                      <div class="list-group">
                        <a class="dropdown-item" href="{% url 'dashboard:dashboard' %}">My Account</a>
                        <div class="dropdown-divider" role="presentation"></div>
                            <a class="dropdown-item" href="{% url 'users:logout' %}"><span class="mr-2"><i class="fa fa-sign-out-alt"></i></span>Logout</a>
                      </div>
                    </div>
                    <li class="d-block d-lg-none nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}"><span class="mr-2"><i class="fa fa-sign-out-alt"></i></span>Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'users:login' %}" class="d-none d-sm-block btn btn-sm btn-white btn-circle btn-icon">
                            <span class="btn-inner--icon"><i class="fa fa-user-plus"></i></span>
                            <span class="btn-inner--text">Log In / Sign Up</span>
                        </a>
                        <a href="{% url 'users:login' %}" class="d-sm-none btn btn-sm btn-white btn-circle btn-icon">
                            <span class="btn-inner--text">Log In / Sign Up</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
