<template>
  <div>
    <transition name="fade">
      <div
        v-if="isActive"
        class="form-popup bg-secondary rounded-lg p-2"
        style="z-index: 1000000"
      >
        <span
          @click="
            isActive = false;
            isComplete = false;
          "
          style="cursor: pointer"
          ><i class="fa fa-times"></i
        ></span>
        <template v-if="!isComplete">
          <form
            role="form"
            method="post"
            @submit.prevent="submit"
            @keydown="form.errors.clear($event.target.name)"
          >
            <div class="form-group">
              <label class="form-control-label">Email</label>
              <input
                v-model="form.email"
                type="text"
                name="email"
                :class="
                  'form-control' +
                  (form.errors.has('email') ? ' is-invalid' : '')
                "
                placeholder="test@example.com"
              />
              <div
                class="invalid-feedback"
                v-if="form.errors.has('email')"
                v-text="form.errors.get('email')"
              ></div>
            </div>

            <label class="form-control-label">Feedback</label>
            <textarea
              v-model="form.message"
              name="message"
              :class="
                'form-control' +
                (form.errors.has('message') ? ' is-invalid' : '')
              "
              placeholder="Your feedback"
              rows="3"
            ></textarea>
            <div
              class="invalid-feedback"
              v-if="form.errors.has('message')"
              v-text="form.errors.get('message')"
            ></div>

            <div class="text-right mt-4">
              <button type="submit" class="btn btn-sm btn-primary btn-icon">
                <template v-if="isLoading">
                  <span class="btn-inner--icon"
                    ><i class="fa fa-spin fa-spinner"></i
                  ></span>
                </template>
                <template v-else>
                  <span class="btn-inner--text">Submit</span>
                  <span class="btn-inner--icon"
                    ><i class="fa fa-long-arrow-right"></i
                  ></span>
                </template>
              </button>
            </div>
          </form>
        </template>

        <!--        Thanks for your feedback-->
        <template v-else>
          <div class="px-3 text-center">
            <div class="py-2">Thanks for your feedback!</div>
            <div class="text-center">
              <span><i class="fa fa-exclamation-circle"></i></span>
            </div>
          </div>
        </template>
      </div>
    </transition>

    <a
      v-on:click="
        isActive = !isActive;
        isComplete ? (isComplete = false) : (isComplete = isComplete);
      "
      class="btn btn-xs btn-secondary btn-icon shadow"
      style="position: fixed; bottom: -1px; right: 0px"
      v-html="isActive ? buttonContent.close : buttonContent.feedback"
    >
    </a>
  </div>
</template>

<script>
import FeedbackForm from "./form";
export default {
  name: "FeedbackButton",
  data() {
    return {
      form: new FeedbackForm({ email: null, message: null }),
      isActive: false,
      isComplete: false,
      isLoading: false,
      buttonContent: {
        feedback:
          '<span class="btn-inner--icon"><i class="fa fa-fire"></i></span>\n' +
          '      <span class="btn-inner--text">Feedback</span>',
        close:
          '<span class="btn-inner--icon"><i class="fa fa-times"></i></span>\n' +
          '      <span class="btn-inner--text">Close</span>',
      },
    };
  },
  methods: {
    submit() {
      this.isLoading = true;
      this.form
        .submit()
        .then((res) => {
          console.log("res:");
          console.log(res);
          if (res.status == 201) {
            this.isComplete = true;
          }
        })
        .catch((err) => {
          console.log("receive error in primary submit");
          console.log(err);
          let { response } = err;
          if (response.status == 400) {
          }
        })
        .finally(() => (this.isLoading = false));
    },
  },
  mounted() {},
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.form-popup {
  position: fixed;
  bottom: 30px;
  right: 0px;
  min-height: 150px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
</style>
